.background {
	background-color: #edca9f;
	padding: 10px;
}

.title {
	color: black;
	text-align: center;
	font-size: 75px;
}

.storyboard {
	display: flex;
	flex-flow: column nowrap;
}

.story {
	text-indent: 50px;
	text-align: justify;
	letter-spacing: 2px;
	font-size: 40px;
	width: 70%;
	margin: 0 auto;
}

.primaryButton {
	background-color: #009999;
	color: white;
	border-radius: 5px;
	cursor: pointer;
	height: 50px;
	width: 150px;
	font-size: 20px;
	margin-left: 65%;
}
